@using System.Net.Http.Headers
@using Client.Services
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient HttpClient
@inject AppData AppData

<div class="page fill" style="width: 100%; height: 100%">
    <main class="fill" style="width: 100%; height: 100%">
            @Body
    </main>
</div>

@code {
    protected override async void OnInitialized()
    {
        var token = await ((MurphyAuthenticationStateProvider)AuthenticationStateProvider).GetJwtToken();
        HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        AppData.AccountInfo.JwtToken = token;
        await base.OnInitializedAsync();
    }
}