@page "/login"
@using Shared.Ressources

<div class="flex-center login-container">
    <div class="login-header">
        <span></span>
    </div>
    <div class="login-body">
        <div class="login-inputs-container">
            <input type="text" placeholder="@Text.Username" @bind="_username"/>
            <input type="text" placeholder="@Text.Password" @bind="_pwd"/>
            <div @onclick="SendRequest">@Text.Login</div>
        </div>
    </div>
    <div class="login-footer">

    </div>
</div>