@page "/login"
@using Shared.Ressources

<div class="flex-center login-container">
    <div class="login-header">
        <span>@Text.Login</span>
    </div>
    <div class="login-body">
        <div class="login-inputs-container">
            <input type="text" placeholder="@Text.Username"/>
            <input type="text" placeholder="@Text.Password"/>
        </div>
    </div>
    <div class="login-footer">

    </div>
</div>