@page "/register"

<div class="flex-center register-container">
    <div class="register-header">

    </div>
    <div class="register-body">

    </div>
    <div class="register-footer">

    </div>
</div>